PORT = #PUERTO DE CONEXION AL SERVIDOR | 3000

DB_host = #DIRECCIÓN DEL SERVIDOR DE BD
DB_port = #PUERTO DE POSTGRESQL
DB_username = #USUARIO DE LA BASE DE DATOS
DB_password = #CONTRASEÑA DEL USUARIO DE BD
DB_database = #NOMBRE DE LA BASE DE DATOS
DB_logging = #ACTIVAR LOGS DE SQL (true/false)
DB_synchronize = #SINCRONIZAR ENTIDADES (true/false)
DB_dropSchema = #BORRAR BASE AL REINICIAR (true/false)
